/* Estilos para el formulario */
form {
  width: 300px; /* Ancho del formulario */
  margin: 0 auto; /* Centrar el formulario */
  text-align: center; /* Centrar el texto dentro del formulario */
}

/* Estilos para los campos de entrada */
input[type="email"],
input[type="password"] {
  width: 100%; /* Ancho completo */
  padding: 10px; /* Espaciado interno */
  margin-bottom: 10px; /* Espaciado inferior */
  border: 1px solid #ccc; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
  box-sizing: border-box; /* Incluir el padding y border en el ancho total */
}

/* Estilos para el botón */
button[type="submit"] {
  width: 100%; /* Ancho completo */
  padding: 10px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  background-color: #ae00ff; /* Color de fondo */
  color: white; /* Color del texto */
  cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
}

/* Estilos para el botón cuando está desactivado */
button[type="submit"]:disabled {
  background-color: #cccccc; /* Cambiar color de fondo */
  cursor: not-allowed; /* Cambiar cursor */
}
