.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

  .login-form {
    max-width: 300px;
    width: 100%;
    padding: 25px;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    .form-title {
      text-align: center;
      margin-bottom: 20px;
      color: #000;
    }

    .form-group {
      margin-bottom: 15px;

      label {
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
        color: #3330d0;
      }

      input {
        width: 100%;
        padding: 15px;
        border: 1px solid #000;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
      }

      input:focus {
        outline: none; /* Quita el contorno predeterminado */
        border-bottom: 2px solid rgb(199, 114, 255); /* Cambia el borde inferior */
        box-shadow: 0px 0px 5px rgba(199, 114, 255, 0.5); /* Agrega una sombra */
      }
    }

    button {
      width: 100%;
      margin: 20px 0;
      padding: 15px;
      color: #fff;
      background-color: #2b4ece;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;
    }

    button:hover {
      background-color: #bc8ad8;
    }
  }
  .error-message {
    color: red;
  }

  .success-message {
    color: green;
  }
}
